#loginPage{
    background-image: url('../assets/images/login-background2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-buttons{
    position: aboslute;
    bottom: 20px;
}
