<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name='menu'></ion-icon>
  </button>
  <ion-title>
    Minhas Séries
  </ion-title>
</ion-navbar>

<ion-content padding>
   <!--<span *ngIf="isLoading">Loading...</span>-->
    <ion-list>
        <ion-item *ngFor="let show of myShows">
            <div item-left>
                <img width="80" height="110" src="{{show.images | showImage}}">
            </div>
            <h2>{{show.title}}</h2>
            <h3>{{show.year}} • {{show.rating | number}} <ion-icon name="heart"></ion-icon></h3>
            <button clear item-right (click)="showDetails(show)">
                <ion-icon name="more"></ion-icon>
            </button>
            <button danger clear item-right (click)="removeShow(show)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
