<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Search</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-searchbar (ionInput)="searchShows($event)" placeholder="Search for your favorite TV shows"></ion-searchbar>
	<ion-list>
		<button ion-item *ngFor="let show of shows">
			<ion-thumbnail item-left>
				<img src="{{show.show.image?.medium}}" width="100%">
			</ion-thumbnail>
				<h2>{{ show.show.name }}</h2>
				<p>
					<ion-icon name="star" *ngIf="show.show.rating.average"></ion-icon> 
					{{show.show.rating.average}} | {{show.show.premiered | date}} | {{show.show.status}}
				</p>
		</button>
	</ion-list>
</ion-content>